*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

.ant-layout-header{
    top: 0;
    position: sticky;
    z-index: 2;
}

.ant-card-cover img{
    max-width: 100%;
    height:auto;
    width:30%
}

.ant-card-bordered .ant-card-cover {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.product-card:hover{
    transform: scale(1.005);
}

.product-info{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

.product-info input{
    width: 3rem;
    text-align: center;
}
.price-detail{
    color:rgba(0,0,0,.45);
}

.add-to-cart{
    margin-top: 1rem;
}

.logo{
    color: coral;
    font-size: 2.5rem;
    font-weight: bold;
}

.logo img{
    max-width: 100%;
    height: auto;
    width: 6rem;
}

.form{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form-button{
    width: 100%;
}

.admin-product-card{
    margin-top: 1.5rem !important;
    border-radius: 1rem !important;
}

.ant-menu-item-selected{
    color: coral !important;
    background-color: transparent !important;
}

.fixed{
    overflow: auto;
    position: fixed !important;
}
.slider{ 
    height: 100vh;
    left: 0;
    top: 0; 
    bottom: 0;
    padding-top: 1.1rem;
}
.ant-drawer-header,.ant-drawer-header-title {
    display: none !important;
}

.ant-drawer-body {
    padding: 0 !important;
    background: #001529;
}

.admin-layout{
    margin-left: 20rem;
}

.product-form{
    margin: 0 3rem 0;
}
.product-form .ant-row{ 
    margin-bottom: 1.8rem;
}

.image{
    border: 1px solid #ccc;
    height: 12vh;
    width: 14vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.upload{
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    height:100%;
    width:100%
}

.flex{
    display: flex;
}

.image-delete{
    cursor: pointer;
    display: flex !important;
    align-self: flex-end;
}

input[type="file"] {
    display: none;
}

.upload-image{  
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }

@media only screen and (min-width:1025) and (max-width:1200){
    html{
        font-size: 50%;
    }
}

@media only screen and (min-width:768) and (max-width:1024){
    html{
        font-size: 50%;
    }
}

@media only screen and (max-width:767){
    html{
        font-size: 50%;
    }
}

@media only screen and (min-width:481)and (max-width:766){
    html{
        font-size: 45%;
    }
}

@media only screen and (min-width:320)and (max-width:480){
    html{
        font-size: 43.75%;
    }
}

@media only screen and (max-width:319){
    html{
        font-size: 43%;
    }
}